<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title>SQL Console</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <style type="text/css">
    body {
      background: #222;
      color: #3e3;
      font-family: monospace;
      cursor: default;
    }
    #lastChar {
      text-decoration: underline;
      white-space: pre-wrap;
    }
    #textPart::-moz-selection,
    #nextPart::-moz-selection {
      background: #fff;
      color: #191;
    }
  </style>
  <script type="text/javascript">
    var lastChar;
    var textPart;
    var nextPart;
    var lastLines = [];
    var lastSearchNumber = 0;

    $().ready( function () {
      $('body').keypress(key);
      $('body').keydown(down);
      textPart = $('#textPart');
      lastChar = $('#lastChar');
      nextPart = $('#nextPart');
    });

    function key (e) {
      var text = textPart.html();
      var nchar = String.fromCharCode(e.which);
      //tecla enter
      if (e.which == 13) {
        send();
      }
      //tecla borrar
      else if (e.which == 8) {
        var l = text.length;
        if (text.substring(l-4, l) != '<br>') {
          textPart.html(text.substring(0, l-1));
        }
      }
      //tecla espacio
      else if (e.which == 32) {
        var tl = text.length;
        var nextChar = nextPart.html().substring(0,1);
        var prevChar = text.substring(tl-1,tl);
        var sp = " ";
        if (
          (
            prevChar != sp &&
            lastChar.html() != sp
          ) || (
            nextChar == '' &&
            prevChar != ' '
          )
          ){
          textPart.html(text + sp);
        }
      }
      else {
        textPart.html(text + nchar);
      }
    }

    function down (e) {
      var text = textPart.html();
      var next = nextPart.html();
      //tecla izquierda
      if (e.which == 37) {
        var l = text.length;
        if (text.substring(l-4, l) != '<br>') {
          nextPart.html(lastChar.html() + next);
          lastChar.html(text.substring(l-1, l));
          textPart.html(text.substring(0,l-1));
        }
      }
      //tecla derecha
      if (e.which == 39) {
        var nextChar = next.substring(0, 1);
        var isSpace = lastChar.html() == ' ';
        if (!(isSpace && nextChar == '')) {
          textPart.html(text + lastChar.html());
          lastChar.html(next.substring(0,1));
          nextPart.html(next.substring(1,next.length));
        }
      }
      //tecla arriba
      if (e.which == 38) {
        lastSearchNumber--;
        writeLastLine();
      }
      //tecla abajo
      if (e.which == 40) {
        lastSearchNumber++;
        writeLastLine();
      }
    }

    function writeLastLine () {
      if (lastSearchNumber >= lastLines.length) {
        lastSearchNumber = lastLines.length;
      }
      else if (lastSearchNumber < 0) {
        lastSearchNumber = 0;
      } else {
        var text = textPart.html();
        var beforeText = text.substring(0, text.lastIndexOf('<br>')+4);
        nextPart.html('');
        lastChar.html(' ');
        textPart.html(beforeText + lastLines[lastSearchNumber]);
      }
    }

    function addLastLine (lastLine) {
      lastLines.push(lastLine);
      lastSearchNumber = lastLines.length;
    }

    function send () {
      var text = textPart.html() + lastChar.html() + nextPart.html();
      var lasti = text.lastIndexOf('<br>');
      var lastLine = text.substring(lasti+4, text.length);
      lastLine = lastLine.substring(0, lastLine.length - 1);

      addLastLine(lastLine);

      textPart.html(text + '<br>');
      lastChar.html(' ');
      nextPart.html('');

      if (lastLine == "exit") {
        window.location.href = "/"
      }

      var param = ($('[name="csrf-param"]').attr('content'));
      var token = ($('[name="csrf-token"]').attr('content'));
      var data = {};
      data[param] = token;
      data['comando'] = lastLine;
      var ajax = $.post('/admin/sql', data, function (data, textStatus, jqa) {
        c_ap(data);
      });
    }

    function lastText () {
      var text = textPart.html()+lastChar.text();
      var lasti = text.lastIndexOf('<br>');
      return text.substring(lasti+4, text.length);
    }

    //c_ap = console append
    function c_ap (obj) {
      var text = textPart.html();
      var val;
      if (typeof obj == "string" || obj instanceof String) {
        val = obj;
      } else {
        val = JSON.stringify(obj);
      }
      textPart.html(text + val + '<br>');
    }

  </script>
</head>
<body>
  <p id="console">
    <span id="textPart">Consola SQL<br></span
    ><span id="lastChar"> </span
    ><span id="nextPart"></span>
  </p>
</body>
</html>