<article>
  <h1>Categorias</h1>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Articulos</th>
      <th>Opciones</th>
    </tr>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= link_to categoria.nombre, categoria_articulos_path(categoria) %></td>
        <td><%= categoria.articulos.count %></td>
        <td>
          <%= form_tag delete_categoria_path(categoria), method: 'delete' do %>
            <%= submit_tag 'Eliminar' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</article>
<%= link_to 'Nuevo', new_categoria_path %>