<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <style type="text/css">

    div, nav, article, section {
      /*border: 1px solid #eee;
      /*margin: 5px;
      padding: 10px;*/
      display: block;
    }

    a:link, a:visited {
      color: #57b;
      text-decoration: none;
    }
    a:hover, a:active {
      color: #24b;
      text-decoration: underline;
    }
    table, tr, th, td {
      border: 1px inset #aaa;
      border-radius: 10px;
    }
    body {
      font-family: sans-serif;
      color: #444;
    }
    button, input[type="submit"], select {
      padding:2px;
      background: linear-gradient(to bottom,#f7f7f7,#f0f0f0);
      border: 1px outset #ddd;
      border-radius: 2px;
    }
    button:hover, input[type="submit"]:hover, select:hover {
      background: linear-gradient(to bottom,#eee,#ddd);
    }
    input, textarea {
      background-color: #fafafa;
      border: 1px inset #999;
      border-radius: 2px;
    }
    table {
      background: linear-gradient(to bottom right, #f0f5ff, #cef);
    }
    td, th {
      box-shadow: 0 0 4px #68b inset;
    }

    /* -- Menus -- */
    .menu {
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      text-align: center;
    }
    .menu > li {
      float: left;
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
    .menu > li > ul {
      display: none;
      padding: 0px;
      margin: 0px;
      position: absolute;
    }
    .menu > li:hover > ul{
      display: block;
      list-style-type: none;
    }

    .menu > li > ul > li {
      display: block;
    }
    .menu a {
      background: linear-gradient(to bottom right, #bdf, #acf, #9bf);
      padding: 0px;
      display: block;
      box-shadow: inset 0 0 10px -2px #68b;
      width: 120px;
      height: 30px;
      line-height: 30px;
      color: #449;
      text-decoration: none;
      border-radius: 5px;
      border: 2px solid #68b;
    }
    .menu a:hover {
      box-shadow: inset 0 0 10px #fff;
    }

  </style>
</head>
<body>
<nav>
  <ul class="menu">
    <li>
      <%= link_to 'Articulos' , articulos_path  %>
      <ul>
        <li><%= link_to 'Lista', articulos_path %></li>
        <li><%= link_to 'Categorias', categorias_path %></li>
        <li><%= link_to 'Nuevo', new_articulos_path %></li>
      </ul>
    </li>
    <li>
      <%= link_to 'Admin', '#' %>
      <ul>
        <li><%= link_to 'SQL', sql_path %></li>
      </ul>
    </li>
  </ul>
</nav>
<% if flash.any? %>
  <ul class="flash">
    <% flash.each do |name, message| %>
      <li class="<%= name %>"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<section>
<%= yield %>
</section>

</body>
</html>
