<script type="text/javascript">

  var catCount = 0;

  function agregarCategoria () {
    catCount++;

    var categorias = document.getElementById('categorias');
    var categoria = document.getElementById('categoria').cloneNode(true);
    var select = categoria.getElementsByTagName('select')[0];
    select.removeAttribute('disabled');
    categoria.setAttribute('style', 'display: block;');
    categoria.setAttribute('id', 'categoria' + catCount);
    categorias.appendChild(categoria);

    var nombre = select.getAttribute('name');
    select.setAttribute('name', nombre + '[' + catCount + ']');
  }

  function quitarCategoria () {
    var categoria = document.getElementById('categoria' + catCount);
    var categorias = document.getElementById('categorias');
    categorias.removeChild(categoria);

    catCount--;
  }
</script>

<%= form_for @articulo, url: @path do |f| %>
  <%= f.text_field :titulo %>
  <%= f.label :titulo, 'Título' %> <br>
  <%= f.text_area :texto %> <br>
  <% if @articulo.new_record? %>
    <div id="categoria" style="display: none;">
      <%= f.select :categorias, 
        options_for_select(
          Categoria.all.map{ |e| [e.nombre, e.id] }
        ), {},  {disabled: true}
      %>
    </div>
    <div id="categorias">
      
    </div>
    <button type="button" onclick="agregarCategoria()">Agregar Categoria</button>
    <button type="button" onclick="quitarCategoria()">Quitar Categoria</button> <br>
  <% end %>
  <%= f.submit 'Crear', class: 'button' %>
<% end %>