<article>
  <h1>Articulos <%= @categoria == nil ? '' : @categoria.nombre %></h1>

  <table class="table">
    <tr>
      <th>Título</th>
      <th>Categoria</th>
      <th>Opciones</th>
    </tr>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= link_to articulo.titulo, articulo_path(articulo) %> </td>
        <td>
          <% articulo.categorias.each do |categoria| %>
            <%= categoria.nombre + ', ' %>
          <% end %>
        </td>
        <td><%= link_to "archivo", articulo.url %>
          <%= form_tag delete_articulo_path(articulo), method: 'delete' do %>
            <%= submit_tag 'Eliminar', class: 'button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</article>
<%= form_tag request.env['PATH_INFO'], method: 'get' do %>
  <%= text_field_tag :o %> Orden <br>
  <%= text_field_tag :q %> Busqueda <br>
  <%= text_field_tag :qs %> Campo <br>
  <%= submit_tag "Buscar" %>
<% end %>

<% crear_path = @categoria == nil ? new_articulos_path : new_categoria_articulos_path %>
<%= link_to 'Nuevo Articulo', crear_path %>